{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">date_range</i><span>Créneaux ADMIN</span>
{% endblock %}

{% block content %}

        <div class="row center">
            <h4 class="header">Admin créneaux</h4>
        </div>
        <div class="row">
            {#<ul class="collapsible" data-collapsible="accordion">#}
                {#<li>#}
                    {#<div class="collapsible-header"><i class="material-icons">help_outline</i>Outils</div>#}
                    {#<div class="collapsible-body">#}
                        {#<ul>#}
                            {#<li>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</li>#}
            {#</ul>#}
        </div>
        {% for bucketsByjob in bucketsByDay %}
            <div class="row">
                <b>{{ (bucketsByjob|first|first).start|date_fr_long }}</b>
            </div>
            {% for buckets in bucketsByjob %}
                <div class="row" style="display: flex;min-height: 60px;">
                    <div class="col s12">
                        <div style="position: relative">
                            {% set lignes = {} %}
                            {% for bucket in buckets %}
                                {#compute lines #}
                                {% set l = 0 %}
                                {% set break = false %}
                                {% for i in 0..100 if not break %}
                                    {% if lignes[i~'_'] is not defined %}
                                        {% set l = i %}
                                        {% set lignes = lignes|merge({(i~'_'): bucket.end}) %}
                                        {% set break = true %}
                                    {% else %}
                                        {% if lignes[i~'_'] < bucket.start  %}
                                            {% set l = i %}
                                            {% set lignes = lignes|merge({(i~'_'): bucket.end}) %}
                                            {% set break = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {# / compute lines #}
                                {% include "admin/booking/_partial/shift.html.twig" with { bucket: bucket, start: hours|first, end: hours|last, line:l  } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}


{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(function ($) {
            $('input.empty-shift').autocomplete({
                data: {
                    {% for beneficiary in beneficiaries %}
                    "#{{ beneficiary.user.memberNumber }} {{ beneficiary.firstname }} {{ beneficiary.lastname }} ({{ beneficiary.id }})" : null,
                    {% endfor %}
                },
                limit: 10, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function(val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });
        })
    </script>
{% endblock %}